h1{
    font-family: 'Times New Roman';
    font-size: 30px;
    background-color: slategray;
}

nav{
    background-color: rgb(191, 205, 219);
}

.pie{
    background-color: rgb(15, 15, 15);
    color: antiquewhite;
}


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

.Guia{
    grid-column: 1/2;
    grid-row: 1/1;
}

.Noticias{
    grid-column: 2/2;
    grid-row: 1/1;
}


.iconos:hover{
    background-color: cadetblue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin: 50px;
    transform: scale(2);
}

